*,
*:before,
*:after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Slabo 27px", serif;
}
@media (max-width: 350px) {
  html {
    font-size: 16px;
  }
}

body {
  background: #fff;
}

.container {
  max-width: 350px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #1b3861;
  box-shadow: 0.25em 0.25em 0.5em #333333;
}
@media (max-width: 350px) {
  .container {
    max-width: 270px;
  }
}

.game-container {
  width: 92%;
  margin: 0.8em auto;
  border: 0.15em solid #ecba1d;
}
.game-container h1 {
  text-align: center;
  margin: 0.4em 0.2em 0 0;
  font-size: 2.5rem;
  font-weight: 900;
  color: #ecba1d;
  font-family: "Great Vibes", cursive;
  background: #1b3861;
}

.questions-container {
  width: 100%;
  background: white;
  margin: 1em auto 0;
}

.category {
  height: 1em;
  color: white;
  padding: 0.2em 1.2em 1.3em;
  font-size: 1.5rem;
  font-weight: 900;
}
.category.yellow {
  background: #e5e112;
}
.category.blue {
  background: #72aae7;
}
.category.green {
  background: #56b945;
}
.category.brown {
  background: #a67a2f;
}
.category.orange {
  background: #e7942e;
}
.category.pink {
  background: #dd82ae;
}

.question {
  background: #ddd;
  padding: 0.7em 2em;
}

.options > li {
  padding: 0.9em 2em;
  color: #777;
}
.options > li:hover {
  color: #111;
  cursor: pointer;
}

.modal-container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #1b3861;
  top: 7.7em;
  left: 1.8em;
  position: absolute;
}
@media (max-width: 350px) {
  .modal-container {
    width: 220px;
    left: 10%;
  }
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em 0;
  width: 95%;
  height: 100%;
  background: #1b3861;
  color: #ecba1d;
  font-family: "Great Vibes", cursive;
  border: 0.15em solid #ecba1d;
}
.modal h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 0;
  text-align: center;
}

.correct .message, .incorrect .message {
  font-size: 2.5rem;
}

.play-again {
  font-size: 1.6rem;
  cursor: pointer;
}

.cheese-container {
  padding: 1em 0 2em;
}

.cheese {
  transform: rotate(1440deg);
  width: 5.5em;
  height: 5.5em;
  background: #b7af17;
  border-radius: 50%;
  position: relative;
  border: 0.25em solid #efe115;
}
.cheese:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  background: linear-gradient(transparent 48.5%, #efe115 48.5%, #efe115 51.5%, transparent 51.5%), linear-gradient(60deg, transparent 48.5%, #efe115 48.5%, #efe115 51.5%, transparent 51.5%), linear-gradient(120deg, transparent 48.5%, #efe115 48.5%, #efe115 51.5%, transparent 51.5%);
  width: 5em;
  height: 5em;
  top: 0;
  left: 0;
}
.cheese:after {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 0.75em;
  height: 0.75em;
  top: 2.125em;
  left: 2.125em;
  background: #efe115;
}

.piece {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.1em;
  left: 1.3em;
  border-radius: 45%;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  transform-origin: 1.2em 2.4em;
}
.piece.blue {
  border-top: 2em solid #72aae7;
}
.piece.yellow {
  border-top: 2em solid #e5e112;
  transform: rotate(60deg);
}
.piece.brown {
  border-top: 2em solid #a67a2f;
  transform: rotate(120deg);
}
.piece.orange {
  border-top: 2em solid #e7942e;
  transform: rotate(180deg);
}
.piece.green {
  border-top: 2em solid #56b945;
  transform: rotate(240deg);
}
.piece.pink {
  border-top: 2em solid #dd82ae;
  transform: rotate(300deg);
}

.spin {
  animation: spin 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1440deg);
  }
  87.5% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #5C1495;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.footer p {
  font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  color: grey;
}

.sub-header{
  font-family: 'Poppins', sans-serif;
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5),rgba(5, 0, 136, 0.5)),url(playing1.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-bottom: 90px;
}

.sub-header h1 {
  margin-top: 60px;
  font-size: 50px;
  font-weight: bold;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

@media(max-width: 700px){
  .textbox h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: fixed;
    background-color: #5C1495;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul{
    padding: 30px;
  }

  .row{
    flex-direction: column;
  }
}

nav .fa {
  display: none;
}