

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

 center h1 {
  padding-top: 60px;
  color: #5C1495;
  padding-bottom: 30px;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

nav .fa {
  display: none;
}
/*
@media(max-width: 700px){
  .textbox h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: fixed;
    background-color: #5C1495;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

  .nav-links ul{
    padding: 30px;
  }

  }*/
  .sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5),rgba(5, 0, 136, 0.5)),url(playing1.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

.sub-header h1 {
  margin-top: 60px;
  font-size: 50px;
}

#outline
{
  height:312px;
  width:412px;
  margin-top: 10px;
}
.box
{
  height:40px;
  width:50px;
  border:1px solid black;
  float:left;
  font-size:190%;
  padding-top:0px;
  border-radius:13px;
  color:black;
}
#total
{
  height:40px;
  width:50px;
  border:1px solid black;
  font-size:190%;
  padding-top:10px;
  border-radius:10px;
  background-color:gray;
  margin-top:30px;
}
.but
{
  height:40px;
  width:150px;
  border:1px solid black;
  font-size:120%;
  padding-top:5px;
  border-radius:15px;
  background-color:Maroon;
  color:Cornsilk 
}
#lose
{
  margin-top:-400px;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #5C1495;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.footer p {
  font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  color: grey;
}
